<template>
<div class="instagram-follow-button--container" @click="$emit('click')" @dblclick="$emit('dblclick')">
  <img class="instagram-follow-button--loading instagram-follow-button--spin" src="./loading.png" alt="loading" v-if="loading">
  <button v-bind="$attrs" class="instagram-follow-button" :style="`background: ${color}; color: ${fontColor}; width: ${width};`" :class="{ 'instagram-follow-button--active': active, 'instagram-follow-button--btn-loading': loading }">
    <slot name="inactive" v-if="!active"></slot>
    <slot name="active" v-if="active"></slot>
    <slot>Following</slot>
  </button>
</div>
</template>

<script>
export default  {
  name: 'instagram-follow-button',
  props: {
    color: {
      type: String,
      default: '#0095f6'
    },
    fontColor: {
      type: String,
      default: '#ffffff'
    },
    width: {
      type: String,
      default: 'fit-content'
    },
    active: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    }
  }
}


</script>

<style scoped>
.instagram-follow-button--container {
  position: relative;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.instagram-follow-button {
  border: 1px solid transparent;
  outline: 0;
  padding: 0 24px;
  user-select: none;
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}
.instagram-follow-button:active:not(.instagram-follow-button--btn-loading) {
  opacity: 0.7;
}
.instagram-follow-button:disabled {
  opacity: 0.5;
  cursor: default;
}
.instagram-follow-button--loading {
  width: 15px;
  height: 15px;
  position: absolute;
  display: flex;
  z-index: 1;
}
.instagram-follow-button--active {
  background: #f9f9f9 !important;
  color: #262626 !important;
  border: 1px solid #dbdbdb;
}
.instagram-follow-button--btn-loading {
  opacity: 0.3;
}
@-webkit-keyframes instagram-follow-button--spin /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes instagram-follow-button--spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.instagram-follow-button--spin {
  -webkit-animation: instagram-follow-button--spin 2s linear infinite;
  -moz-animation: instagram-follow-button--spin 2s linear infinite;
  -ms-animation: instagram-follow-button--spin 2s linear infinite;
  -o-animation: instagram-follow-button--spin 2s linear infinite;
  animation: instagram-follow-button--spin 2s linear infinite;
}
</style>
